/* https://raw.github.com/nathansmith/960-Grid-System/master/code/css/min/reset.css */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}

body { font-family: "Lucida Grande", verdana, sans-serif; font-size: 87.5%; color: #333; line-height: 1.4; max-width: 960px; margin: 0 auto; }

a, a:visited { color: #0134c5; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0.5em 0; }
ul { margin: 1em 0; list-style: disc; }
li { margin: 0.5em 2em; }
code { font-size: 1.27em; font-family: monospace; background-color: #f9f9f9; border: 1px solid #e0e0e0; padding: 2px 4px; }
pre { background-color: #f9f9f9; border: 1px solid #D0D0D0 !important; display: block; margin: 1em 0; padding: 1em 1.5em !important; overflow: scroll; }
pre code { border: 0; padding: 0; }
.pln { color: #333 !important; }

.center { text-align: center; }

#nav { float: left; width: 220px; padding: 30px 0 20px 20px; }
#nav ul { list-style: none; }
#nav li { margin: 0; padding: 5px 10px; font-weight: bold; }
#nav li.current { background: #eee; }
#nav li li { font-weight: normal; font-size: smaller; }

#footer { text-align: center; font-size: smaller; padding: 20px; clear: both; }

#content { margin-left: 240px; padding: 20px; }

#content h1 {
	color: #e13300;
	border-bottom: 1px solid #666;
	background-color: transparent;
	font-weight: normal;
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 3px 0 7px 3px;
}

#content h2 {
	background-color: transparent;
	border-bottom: 1px solid #999;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	margin: 28px 0 16px 0;
	padding: 5px 0 6px 0;
}

#content h3 {
	background-color: transparent;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0 15px 0;
	padding: 0 0 0 0;
}

#content h4 {
	background-color: transparent;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	margin: 22px 0 0 0;
	padding: 0 0 0 0;
}
